<div class="row">
    <div class="col-md-8 col-xs-8" style="margin: 0 auto;">
        <h1 style="text-align: center; text-decoration: underline;">
            ANTI-FITNESS
        </h1>
        <p>
            Emagrecimento, Saúde & os Bastidores das Mídias Sociais. Parte I: FUNDAMENTOS
        </p>
        <h3 style="text-align: center;">
            De: <small><del>R$ 49,90</del></small>
            <br />
            <strong>Por: R$ 44,91</strong>
        </h3>
        <label style="text-align: center; width: 100%;">
            Para garantir esse desconto, utilize o cupom abaixo: 
            <h2>
                THOR10
            </h2>
        </label>
        <a mat-raised-button href="https://pay.hotmart.com/O33426566H?off=d7lpx67j&sck=HOTMART_PRODUCT_PAGE&checkoutMode=4&bid=1598628366772"
            class="btn btn-xl" style="width: 100%;
            padding: 10px;
            color: #FFF !important;
            background-color: #6f42c1;" target="_blank">
            Compre agora!
        </a>
        <br />
        <br />
        <p>
            Essa é a primeira parte da série ANTI-FITNESS, nela abordaremos todos os fundamentos necessários
            para alcançar resultados -
            desde dieta, treino e manter a forma,
            até identificar os modismos e as bobagens que surgem durante o caminho.
        </p>
        <!-- <mat-card class="card-01">
            <mat-card-header>
                <mat-card-title>
                    
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img style="padding: 10px;" mat-card-image
                src="https://static-media.hotmart.com/2b7aBRZRphyv7xdmkz-b_vGVsSE=/600x600/smart/filters:format(jpg):background_color(white)/hotmart/product_contents/555f4be1-7fe1-49cc-827e-3b91e8857ad3/anti.png"
                alt="ANTI-FITNESS">
            <mat-card-content>
            </mat-card-content>
        </mat-card> -->
    </div>
</div>