<app-calculadora></app-calculadora>
<!--
<section class="page-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <h4 style="text-align: center;">
                        Olá cambada
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et ipsum aliquet, accumsan diam non.
                    </p>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nome Completo</label>
                            <input class="form-control" id="name" type="text" placeholder="Nome completo" required="required"
                                data-validation-required-message="Por favor informe seu nome completo" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>E-mail</label>
                            <input class="form-control" id="email" type="email" placeholder="E-mail"
                                required="required"
                                data-validation-required-message="Por favor informe um e-mail" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton"
                            type="submit">Veja mais!</button></div>
                </form>
            </div>
        </div>
    </div>
</section>-->